
.header{
    margin-bottom: 10px;
}

.title{
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitle{
    font-weight: 400;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .label {
    font-size: 16px;
    font-weight: 600;
    color: #14141B;
  }
  
  .input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }